* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #fff;
}

body {
	color: #000;
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
}

/* High-level */

.wrapper {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 40px 0 40px;
	text-align: center;
}

.page {
	font-size: 1.05em;
	text-align: left;
}

.mobile {
	display: none;
}

.inline-block {
	display: inline-block;
}


/* Header */

header {
	position: relative;
	background: linear-gradient(to bottom right, #ff644e, #cb3018);
	color: #fff;
	padding: 0 20px;
}

header .wrapper {
	padding: 25px 0 20px 0;
}

header a {
	display: inline-block;
}

header p a {
	text-decoration: underline;
}

header .logo {
	width: 500px;
	max-width: 80%;
	margin-bottom: 6px;
}

header nav {
	display: inline-block;
	background-color: #fff;
	border-radius: 10px;
	margin-top: 18px;
	overflow: hidden;
}

header nav li {
	display: inline-block;
}

header nav a {
	display: block;
	color: #cb3018;
	padding: 0 10px;
	line-height: 30px;
}

header nav a:hover,
header nav li.selected a {
	color: #fff;
	background-color: #cb3018;
}


/* Lists */

ul {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
}


/* Headings */

h1 {
	font-size: 2em;
	margin-bottom: 10px;
}


/* Links */

a {
	text-decoration: none;
	color: inherit;
}

/* Articles */

article h1 {
	font-size: 2.5em;
	margin-bottom: 15px;
	line-height: 1.2em;
	max-width: 95%;
}

article h1.smaller {
	font-size: 2.3em;
}

article h2 {
	font-size: 1.5em;
	margin: 25px 0 20px 0;
}

article h3 {
	font-size: 1.2em;
	margin-top: 20px;
}

article .metadata {
	margin-bottom: 23px;
}

article .date {
	color: #555;
}

article p {
	margin-top: 20px;
	font-size: 1.05em;
	line-height: 1.5;
}

/* Content */

.content a,
.content a code {
	text-decoration: underline;
}

.content h2 a,
.content h2 a code {
	text-decoration: none;
}

.content ul {
	list-style-type: disc;
	margin-top: 20px;
	padding-left: 20px;
}

.content>ul {
	font-size: 1.05em;
	line-height: 1.5em;
}

.content ul li {
	margin-top: 10px;
}

.content ul ul {
	margin-top: 0;
}

.content ul.compact li {
	margin-top: 5px;
}

.content img {
	display: block;
	max-width: 100%;
	margin: 20px auto 0 auto;
	padding: 20px;
}

.content img.compact {
	display: inline-block;
}

/* img */

img {
	display: block;
	max-width: 100%;
	margin: 20px auto 0 auto;
	padding: 20px;
	filter: drop-shadow(1px 1px 6px #5555);
}


/* Code */

code {
	font-family: "Code", monospace;
}

article p code,
article li code {
	background-color: #e2e2e2;
	display: inline-block;
	padding: 0 5px;
	border-radius: 8px;
	font-size: 0.9em;
	margin: 1px;
}

article p code.inline,
article li code.inline {
	display: inline;
	background-color: inherit;
	padding: 0;
}

/* Button */

.download {
	background-color: #cb3018;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	margin: 4px 2px;
	border-radius: 12px;
  }

/* Theming */

@media (prefers-color-scheme: dark) {
	html {
		background-color: #222;
	}
	article .date,
	footer {
		color: #8a8a8a;
	}
	body {
		color: #ddd;
	}

	article p code,
	article li code,
	article p.info,
	blockquote p {
		background-color: #101010;
	}
	.tags .qa {
		background-color: #ddd;
		color: #000;
	}
}


/* Responsive */

@media(max-width: 655px) {
	header nav {
		padding-top: 2px;
	}
	header nav li a {
		padding: 0;
		margin: 0 10px;
		border-bottom: 2px solid transparent;
	}
	header nav li a:hover,
	header nav li.selected a {
		background-color: inherit;
		border-bottom: 2px solid #cb3018;
		color: #cb3018;
	}
	header nav li.search.selected a,
	header nav li.search a:hover {
		background-image: url(/images/search.svg);
	}
}

@media(max-width: 600px) {
	.mobile {
		display: inherit;
	}
	.wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	pre code {
		margin-left: -20px;
		margin-right: -20px;
		padding: 20px;
		border-radius: 0;
	}
	.code-preview a {
		right: -10px;
	}
	.code-preview img {
		max-width: 159px;
	}
}
